# SWANS folders and files to ignore
__pycache__/
logs/
data/
benchmarks/
benchmark_report/
count_stamps/
helper_scripts/make_symbolic_links.sh
.Renviron

# Snakemake folder to ignore
.snakemake/

# Cell Ranger cache to ignore
.cache/

# R local dir to ignore (SeuratData)
.local/

# File types to ignore in the main dir
/*.txt
/*.pdf

# User files to ignore
samples.sample_list
configs/prelim_configs.yaml
configs/post_annotation_configs.yaml

# IDE development files to ignore
.idea/
.vscode/

# Container-related items to ignore
pond:1.0
swans
run/
sys/

# User files to ignore
setup/

# Ignore cellranger pipestance files and config dir
.config/
*.mro

# Ignore SIF container files
*.sif

# Ignore containers if they are in the dir
pond:*
cellranger:*

# Ignore user R library (created if Azimuth is run)
R/library/*

# Ignore any in-progess knit.md files
*.knit.md

# Ignore screenlog
screenlog*